/* Media query para 1024px */
@media (max-width: 1024px) {
  .container {
    margin: 6px; /* Reducción adicional del margen */
  }
  
  .top h1 {
    font-size: 3rem; /* Ajuste del tamaño de fuente del título */
  }
  
  .card {
    width: 25rem; /* Reducción adicional del ancho de la tarjeta */
  }
  
  /* Ajustes para los inputs y otros elementos dentro de la tarjeta */
  .card input[type="text"],
  .card textarea,
  .card select {
    width: 100%; /* Ajusta el ancho al 100% de su contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    margin-bottom: 10px; /* Espacio entre elementos */
  }
}

/* Media query para 640px */
@media (max-width: 640px) {
  .card-top {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
  }
  .card-top div {
    margin-bottom: 10px; /* Espacio entre cada div */
  }
  .styled-button {
    width: calc(100% - 35px); /* Ancho completo para el botón en pantallas pequeñas */
    margin-left: 20px; /* Elimina el margen izquierdo si es necesario */
  }
}